
body {background-color: #000;}
#mainTitle {
    background-color: #2b2b2b ;
    padding: 10px ;
    color: #fff;
    font-family: "Arial";
/*    outline-color: #aaa;
    outline-width: 2px;
    outline-style: solid;*/
}
#chartA {background-color: #111; padding: 5px;}
#chartB {background-color: #111; padding: 5px;}
#st1 {background-color: #2b2b2b ; color: #bbb; padding: 4px ; font-family: "Arial";}
#st2 {background-color: #2b2b2b ; color: #bbb; padding: 4px ; font-family: "Arial";}
#desc {background-color: #2b2b2b ; color: #f00; padding: 4px ;}
#optionspanel {background-color: #2b2b2b ; color: #fff; padding: 4px ; font-family: "Arial";}
#movieselect {background-color: #2b2b2b ; color: #ccc; padding: 4px ; font-family: "Arial";}
#endnotes {color: #fff}
#spacingstr {color: #bbb}

#tvoptionspanel {background-color: #2b2b2b ; color: #fff; padding: 4px ; font-family: "Arial";}
#tvselect {background-color: #2b2b2b ; color: #ccc; padding: 4px ; font-family: "Arial";}
.slightheader {background-color: #2b2b2b ; color: #ccc; padding: 4px ; font-family: "Arial";}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}


.tvSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.tvSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.tvSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}